$background-color: rgb(5,100,122);
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$header-color: #00d6c7;
$footer_color: #00d6c7;
*{
	margin: 0 auto;
	padding: 0 auto;
}
html{
	overflow-x: hidden;
	font-family: 'Open Sans Condensed', sans-serif;
}
body{
	background-color: $background-color;
}
header{
	width: 100%;
	color: white;
	background-color: $header-color;
	padding: 1.5em;
	height: 5em;
	margin-left: -10px;
	margin-top: -10px;
	#nav{
		li{
			display: block;
			float: left;
			padding: .5em;
			padding-left: 2em;
			margin-left: 6em;
			margin-top: 1em;
			a{
				padding: 1em;
				display: inline-block;
				text-decoration: none;
				color: $white;
			}
			:hover{
				background-color: #0300d3;
				-webkit-transition: .7s;
			    -moz-transition: .7s;
			    -o-transition: .7s;
			    transition: .7s;
			}
		}
	}
	#search{
		display: inline-block;
		float: right;
		margin-top: 2em;
		margin-right: 6em;
		table {
		    width: 100%;
		    border-collapse: collapse;
		    z-index: -1;
		    td, th {
			    border: 1px solid black;
			    padding: 5px;
			    th{
			    	text-align: left;
			    }
			}
		}
	}
}
footer{
	background-color: $footer_color;
	overflow: hidden;
    width: 100%;
    height: 5em;
    p{
    	text-align: center;
    	margin-top: 1.5em;
    }
}
#songs{
	display: inline-block;
	margin-left: 5%;
	margin-top: 3%;
	a{
		text-decoration: none;
		color: $white;
	}
	p{
		color: $white;
	}
}
#song_detail{
	width: 60%;
	height: 100%;
	margin-left: 10%;
	margin-top: 5em;
	#left_song{
		a{
			margin-top: -2em;
			text-decoration: none;
			color: $white;
			float: left;
		}
	}
	#right_song{
		a{
			margin-top: -2em;
			text-decoration: none;
			color: $white;
			float: right;
		}
	}
	#main_song{
		color: $white;
		margin-top: 2em;
		h3{
			margin-top: -.5em;
			color: $white;
			text-align: center;
		}
		p{
			margin-top: .7em;
			margin-left: 40%;
		}
		audio{
			margin-top: 2.5em;
			margin-left: 35%;
		}
		img{
			margin-left: 37%;
			width: 17em;
		}
	}
}
#aside{
	display: block;
	float: right;
	width: 23%;
	padding-bottom: 20%;
	height: 100%;
	background-color: $white;
	a{
		text-decoration: none;
		color: $black;
	}
}
#pagination{
	display: block;
	text-align: center;
	a{
		text-decoration: none;
		color: $white;
	}
}