$background-color: #605e5e;
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$header-color: #00d6c7;
$footer_color: #00d6c7;
$wrapper_color: rgb(5,100,122);
$hoover: #0300d3;
*{
	margin: 0 auto;
	padding: 0 auto;
}
html{
	overflow-x: hidden;
	font-family: 'Open Sans Condensed', sans-serif;
}
body{
	background-color: $background-color;
}
header{
	width: 100%;
	color: $black;
	background-color: $header-color;
	padding: 1.5em;
	height: 5em;
	margin-left: -10px;
	margin-top: -10px;
	#nav{
		margin-top: .5em;
		li{
			display: block;
			float: left;
			padding: .5em;
			padding-left: 2em;
			margin-left: 6em;
			margin-top: -1em;
			a{
				padding: 1em;
				display: inline-block;
				text-decoration: none;
				color: $black;
			}
			:hover{
				background-color: $hoover;
				color: $white;
				-webkit-transition: .7s;
			    -moz-transition: .7s;
			    -o-transition: .7s;
			    transition: .7s;
			}
		}
		#search{
			margin-top: 1.5em;
			form{
				width: 12em;
				float: right;
				margin-right: 35em;
				input{
					width: 14.1em;
				}
				#txtHint{
					margin-top: -1.25em;
					background-color: $white;
					border: solid 1px $black;
					a{
						color: $black;
						text-decoration: none;
						display: block;
						margin-top: 1.5em;
					}
					p{
						color: $black;
						text-decoration: none;
						display: block;
						margin-top: 1.5em;
					}
				}
			}
		}
	}
}
footer{
	background-color: $footer_color;
	overflow: hidden;
    width: 100%;
    height: 5em;
    bottom: 0;
    position: absolute;
    p{
    	text-align: center;
    	margin-top: 1.5em;
    }
}
#wrapper{
	width: 80%;
	height: 100%;
	background-color: $wrapper_color;
	margin-bottom: -5em;
	#songs{
		display: inline-block;
		margin-left: 5%;
		margin-top: 3%;
		margin-bottom: 10%;
		color: $white;
		a{
			text-decoration: none;
			color: $white;		
		}
	}
	#song_detail{
		display: inline-block;
		width: 60%;
		height: 100%;
		margin-left: 15em;
		margin-top: 3%;
		margin-bottom: 15%;
		#left_song{
			a{
				margin-left: -10em;
				margin-top: .5em;
				text-decoration: none;
				color: $white;
				float: left;
			}
		}
		#right_song{
			a{
				margin-right: -14em;
				margin-top: .5em;
				text-decoration: none;
				color: $white;
				float: right;
			}
		}
		#main_song{
			color: $white;
			margin-top: 2em;
			h3{
				margin-top: -.5em;
				color: $white;
				text-align: center;
			}
			p{
				margin-top: .7em;
				margin-left: 37%;
			}
			audio{
				margin-top: 2.5em;
				margin-left: 35%;
			}
			img{
				margin-left: 35%;
				width: 17em;
			}
		}
	}
	#pagination{
		display: block;
		text-align: center;
		margin-top: -1%;
		margin-bottom: 7%;
		a{
			text-decoration: none;
			color: $white;
			padding-bottom: 3em;
		}
	}
	#featured{
		display: inline-block;
		margin-left: 5%;
		margin-top: 3%;
		margin-bottom: 30%;
		a{
			color: $white;
			text-decoration: none;
		}
		h3{
			color: $white;
		}
	}
	#home{
		display: inline-block;
		margin-left: 45%;
		margin-top: 20%;
		margin-bottom: 30%;
		h1{
			color: $white;
			display: block;
		}
	}
	#about{
		display: inline-block;
		margin-left: 5%;
		margin-top: 3%;
		margin-bottom: 8%;
		color: $white;
		img{
			width: 20em;
			display: block;
			float: left;
		}
		h3{
			float: left;
			margin-left: 2em;
		}
		p{
			left: 34.5%;
		    position: absolute;
		    width: 55%;
			margin-top: 4em;
		}
	}
}